<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="user/fragments :: meta_css"></head>
<body>
        <!--================Header Area =================-->
        <header th:replace="user/fragments :: header"></header>
        <!--================Header Area =================-->
        

        <!--================Breadcrumb Area =================-->
        <!--================ SERVICE TAB  =================-->
        <section class="facilities_area section_gap">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
            </div>
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_w">Dịch vụ</h2>
                    <p>Chúng tôi cung cấp một số dịch vụ đi kèm trên chuyến bay</p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>Thức ăn nhanh</h4>
                            <p>Cung cấp một số thức ăn nhanh, đảm bảo ngon miệng cho khách hàng.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>Xe máy trung chuyển</h4>
                            <p>Loại hình xe trung chuyển dành cho khách hàng đi một mình.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>Áo giữ ấm</h4>
                            <p>Cung cấp áo ấm cho khách, giúp khách có một giấc ngủ ngon.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-car"></i>Xe hơi trung chuyển</h4>
                            <p>Loại hình xe trung chuyển dành cho các khách hàng đi theo hộ.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-construction"></i>Thêm hành lý</h4>
                            <p>Dịch vụ cho phép khách hàng đặt thêm số hành lý có thể mang theo.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>Đồ uống</h4>
                            <p>Làm mát cơ thể với những đồ uống được ướp lạnh.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ SERVICE TAB  =================-->

        <!--================ Accomodation Area  =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">Ptit Airline Service</h2>
                    <p>Cung cấp một vài dịch vụ cho quý khách thoải mái lựa chọn</p>
                </div>

                <div class="row accomodation_two" th:each="service, index : ${listService.subList(0, 3)}" >

                        <div class="col-lg-3 col-sm-6">
                            <div class="accomodation_item text-center">
                                <div class="hotel_img">
                                    <img th:src="@{'/user/image/Service/' + ${service.image}}" alt="">
                                    <a href="#" class="btn theme_btn button_hover">Đặt</a>
                                </div>
                                <a href="#"><h4 class="sec_h4" th:text="${service.serviceName}"></h4></a>
                                <h5 th:text="${listService[index.index + 0].price + ' VND'}"><small>VND</small></h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="accomodation_item text-center">
                                <div class="hotel_img">
                                    <img th:src="@{'/user/image/Service/' + ${listService[index.index + 3].image}}" alt="">
                                    <a href="#" class="btn theme_btn button_hover">Đặt</a>
                                </div>
                                <a href="#"><h4 class="sec_h4" th:text="${listService[index.index + 3].serviceName}"></h4></a>
                                <h5 th:text="${listService[index.index + 3].price + ' VND'}"><small>VND</small></h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="accomodation_item text-center">
                                <div class="hotel_img">
                                    <img th:src="@{'/user/image/Service/' + ${listService[index.index + 6].image}}" alt="">
                                    <a href="#" class="btn theme_btn button_hover">Đặt</a>
                                </div>
                                <a href="#"><h4 class="sec_h4" th:text="${listService[index.index + 6].serviceName}"></h4></a>
                                <h5 th:text="${listService[index.index + 6].price + ' VND'}"><small>VND</small></h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="accomodation_item text-center">
                                <div class="hotel_img">
                                    <img th:src="@{'/user/image/Service/' + ${listService[index.index + 9].image}}" alt="">
                                    <a href="#" class="btn theme_btn button_hover">Đặt</a>
                                </div>
                                <a href="#"><h4 class="sec_h4" th:text="${listService[index.index + 9].serviceName}"></h4></a>
                                <h5 th:text="${listService[index.index + 9].price + ' VND'}"></h5>
                            </div>
                        </div>

             </div>

            </div>
        </section>
        <!--================ Accomodation Area  =================-->
        <!--================ start footer Area  =================-->
        <footer th:replace="user/fragments :: footer"></footer>
		<!--================ End footer Area  =================-->
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script th:src="@{/user/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/user/js/popper.js}"></script>
        <script th:src="@{/user/js/bootstrap.min.js}"></script>
        <script th:src="@{/user/vendors/owl-carousel/owl.carousel.min.js}"></script>
        <script th:src="@{/user/js/jquery.ajaxchimp.min.js}"></script>
        <script th:src="@{/user/js/mail-script.js}"></script>
        <script th:src="@{/user/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js}"></script>
        <script th:src="@{/user/vendors/nice-select/js/jquery.nice-select.js}"></script>
        <script th:src="@{/user/js/stellar.js}"></script>
        <script th:src="@{/user/vendors/lightbox/simpleLightbox.min.js}"></script>
        <script th:src="@{/user/js/custom.js}"></script>
    </body>
</html>