<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="user/fragments :: meta_css">

</head>

<body>

        <!--================Header Area =================-->
        <header th:replace="user/fragments :: header"></header>
        <!--================Header Area =================-->
        

        <!--================Breadcrumb Area =================-->
        <!--================ SERVICE TAB  =================-->
        <section class="facilities_area section_gap">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
            </div>
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_w">Dịch vụ</h2>
                    <p>Chúng tôi cung cấp một số dịch vụ đi kèm trên chuyến bay</p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>Thức ăn nhanh</h4>
                            <p>Cung cấp một số thức ăn nhanh, đảm bảo ngon miệng cho khách hàng.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>Xe máy trung chuyển</h4>
                            <p>Loại hình xe trung chuyển dành cho khách hàng đi một mình.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>Áo giữ ấm</h4>
                            <p>Cung cấp áo ấm cho khách, giúp khách có một giấc ngủ ngon.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-car"></i>Xe hơi trung chuyển</h4>
                            <p>Loại hình xe trung chuyển dành cho các khách hàng đi theo hộ.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-construction"></i>Thêm hành lý</h4>
                            <p>Dịch vụ cho phép khách hàng đặt thêm số hành lý có thể mang theo.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>Đồ uống</h4>
                            <p>Làm mát cơ thể với những đồ uống được ướp lạnh.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ SERVICE TAB  =================-->

        <!--================ Accomodation Area  =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">Ptit Airline Service</h2>
                    <p>Cung cấp một vài dịch vụ cho quý khách thoải mái lựa chọn</p>
                </div>

                <div class="input-group-icon mt-10" style="margin-bottom: 20px; width: 30%">
                    <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                    <div class="form-select" id="default-select">
                        <select id="combobox-ticket" >
                            <option value="" disabled selected>Chọn vé của bạn...</option>
                            <option th:each="ticket :${tickets}" th:value="${ticket.ticketID}" th:text="'Chuyến '+${ticket.flight.flightID}+' đến ' + ${ticket.flight.destination}"></option>
                        </select>
                    </div>
                </div>
                <div class="row accomodation_two"  >

                    <div class="col-lg-3 col-sm-6" th:each="service, index : ${listService}">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img th:src="@{'/user/image/Service/' + ${service.image}}" alt="">
                                <a onclick="serviceOrder(this)" th:data-value="${service.serviceId}" class="btn theme_btn button_hover">Đặt</a>
                            </div>
                            <a ><h4 class="sec_h4"  th:text="${service.serviceName}"></h4></a>
                            <h5 th:text="${service.price + ' VND'}"><small>VND</small></h5>

                            <div class="modal__container" id="modal-container">
                                <div class="modal__content">
                                    <div class="modal__close close-modal" title="Close">
                                        <i class='bx bx-x'></i>
                                    </div>

                                    <img th:src="@{/modelPopup/img/checkingCart_rm.png}" alt="" class="modal__img">

                                    <h1 class="modal__title">Đặt dịch vụ thành công!</h1>
                                    <p class="modal__description">Ptit Airline xin cảm ơn</p>

                                    <button class="modal__button modal__button-width" onclick="">
                                        Xem danh sách dịch vụ
                                    </button>

                                    <button class="modal__button-link close-modal" onclick="closeModal()">
                                        Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

            </div>

        </section>
        <script>
            function serviceOrder(element) {
                const serviceId = element.getAttribute('data-value'),
                    comboboxTicket = document.getElementById('combobox-ticket');
                const ticketId = comboboxTicket.value

                const data = {
                    serviceId: serviceId,
                    ticketId: ticketId,

                };

                fetch('/flight-booking/serviceOrder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json(); // Giải mã JSON từ server
                        } else {
                            throw new Error();
                        }
                    })
                    .then(result => {
                        const modalContainer = document.getElementById("modal-container")
                        modalContainer.classList.add('show-modal')
                    })
                    .catch(error => {
                        console.error('Lỗi:', error);
                        alert(error);
                    });
            }
        </script>
        <!--================ Accomodation Area  =================-->
        <!--================ start footer Area  =================-->
        <footer th:replace="user/fragments :: footer"></footer>
		<!--================ End footer Area  =================-->
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script th:src="@{/user/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/user/js/popper.js}"></script>
        <script th:src="@{/user/js/bootstrap.min.js}"></script>
        <script th:src="@{/user/vendors/owl-carousel/owl.carousel.min.js}"></script>
        <script th:src="@{/user/js/jquery.ajaxchimp.min.js}"></script>
        <script th:src="@{/user/js/mail-script.js}"></script>
        <script th:src="@{/user/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js}"></script>
        <script th:src="@{/user/vendors/nice-select/js/jquery.nice-select.js}"></script>
        <script th:src="@{/user/js/stellar.js}"></script>
        <script th:src="@{/user/vendors/lightbox/simpleLightbox.min.js}"></script>
        <script th:src="@{/user/js/custom.js}"></script>
        <script th:src="@{/modelPopup/js/main.js}"></script>
    </body>
</html>