<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="user/fragments :: meta_css"></head>
<body>
<!--================Header Area =================-->
<header th:replace="user/fragments :: header"></header>
<!--================Header Area =================-->

<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Trưng bày</h2>
            <ol class="breadcrumb">
                <li><a th:href="@{/index.html}">Trang chủ</a></li>
                <li class="active">Trưng bày</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->

<!--================Flight Images Section=================-->
<section class="gallery_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Chuyến Bay</h2>
            <p>Những hình ảnh từ các chuyến bay của chúng tôi.</p>
        </div>
        <div class="row imageGallery1">
            <!-- Flight images -->
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img th:src="@{user/image/gallery/gallery1_1.jpg}" alt="Chuyến bay 1">
                    <div class="hover">
                        <a class="light" href="image/gallery/flight1.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img th:src="@{user/image/gallery/gallery1_2.jpg}" alt="Chuyến bay 2">
                    <div class="hover">
                        <a class="light" href="image/gallery/flight2.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img th:src="@{user/image/gallery/gallery1_3.jpg}" alt="Chuyến bay 3">
                    <div class="hover">
                        <a class="light" href="image/gallery/flight3.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr style="border: 3px solid #f1c40f; margin: 0 100px;">
<!--================Airport Images Section=================-->
<section class="gallery_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Sân Bay</h2>
            <p>Khám phá hình ảnh từ các sân bay nổi bật của chúng tôi.</p>
        </div>
        <div class="row imageGallery1">
            <!-- Airport images -->
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img th:src="@{user/image/gallery/gallery2_1.jpg}" alt="Sân bay 1">
                    <div class="hover">
                        <a class="light" href="image/gallery/airport1.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img th:src="@{user/image/gallery/gallery2_2.jpg}" alt="Sân bay 2">
                    <div class="hover">
                        <a class="light" href="image/gallery/airport2.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img th:src="@{user/image/gallery/gallery2_3.jpg}" alt="Sân bay 3">
                    <div class="hover">
                        <a class="light" href="image/gallery/airport3.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr style="border: 3px solid #f1c40f; margin: 0px 100px;">
<!--================In-flight Service Images Section=================-->
<section class="gallery_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Dịch Vụ Trên Chuyến Bay</h2>
            <p>Trải nghiệm dịch vụ trên các chuyến bay của chúng tôi.</p>
        </div>
        <div class="row imageGallery1">
            <!-- In-flight services images -->
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img th:src="@{user/image/gallery/gallery3_1.jpg}" alt="Dịch vụ 1">
                    <div class="hover">
                        <a class="light" href="image/gallery/service1.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img th:src="@{user/image/gallery/gallery3_2.jpg}" alt="Dịch vụ 2">
                    <div class="hover">
                        <a class="light" href="image/gallery/service2.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gallery_item">
                <div class="gallery_img">
                    <img th:src="@{user/image/gallery/gallery3_3.jpg}" alt="Dịch vụ 3">
                    <div class="hover">
                        <a class="light" href="image/gallery/service3.jpg"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================ start footer Area  =================-->
<footer th:replace="user/fragments :: footer"></footer>
<!--================ End footer Area  =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/user/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/user/js/popper.js}"></script>
<script th:src="@{/user/js/bootstrap.min.js}"></script>
<script th:src="@{/user/vendors/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/user/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/user/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/user/vendors/nice-select/js/jquery.nice-select.js}"></script>
<script th:src="@{/user/js/mail-script.js}"></script>
<script th:src="@{/user/js/stellar.js}"></script>
<script th:src="@{/user/vendors/imagesloaded/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/user/vendors/isotope/isotope-min.js}"></script>
<script th:src="@{/user/js/stellar.js}"></script>
<script th:src="@{/user/vendors/lightbox/simpleLightbox.min.js}"></script>
<script th:src="@{/user/js/custom.js}"></script>
</body>
</html>
