<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="user/fragments :: meta_css"></head>
    <body>
        <!--================Header Area =================-->
        <header th:replace="user/fragments :: header"></header>
        <!--================Header Area =================-->

        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="booking_table d_flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h6>Giờ đây ai cũng có thể bay</h6>
						<h2>CÙNG NHAU ĐI ĐẾN MỌI NƠI</h2>
						<p>Sự an toàn của bạn chính là sứ mệnh của chúng tôi<br> Hãy mở rộng thế giới của bạn</p>
						<a href="#" class="btn theme_btn button_hover">Bắt đầu</a>
					</div>
				</div>
            </div>
            <div class="hotel_booking_area position">
                <div class="container">
                    <form th:action="@{/search.html}" method="get">
                        <div class="hotel_booking_table">
                            <div class="col-md-3">
                                <h2>Tìm kiếm<br> Chuyến bay</h2>
                            </div>
                            <div class="col-md-9">
                                <div class="boking_table">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="book_tabel_item">
                                                <div class="form-group">
                                                    <div class='input-group date' id='datetimepicker11'>
                                                        <input type='text' name="departureDate" class="form-control" placeholder="Ngày khởi hành"/>
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        <input id="returnDate" type='text' name="returnDate" class="form-control" placeholder="Ngày về"/>
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="book_tabel_item">
                                                <div class="input-group">
                                                    <input type='text' name="departure" class="form-control" placeholder="Điểm khởi hành"/>
                                                </div>
                                                <div class="input-group">
                                                    <select id="tripType" name="tripType" class="wide">
                                                        <option value="Khứ hồi" data-display="Khứ hồi">Khứ hồi</option>
                                                        <option value="Một chiều">Một chiều</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="book_tabel_item">
                                                <div class="input-group">
                                                    <input type='text' name="destination" class="form-control" placeholder="Điểm đến"/>
                                                </div>
<!--                                                <a class="book_now_btn button_hover" href="search.html">Tìm kiếm</a>-->
                                                <button type="submit" class="book_now_btn button_hover">Tìm kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </section>
        <!--================Banner Area =================-->

        <!--================ Accomodation Area  =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">Du lịch</h2>
                    <p>Ptit Airline hân hạnh giới thiệu với quý khách một số dịch vụ du lịch hấp dẫn</p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img th:src="@{/user/image/Index/haLongBay.jpg}" alt="">
                                <a href="#" class="btn theme_btn button_hover">Đặt ngay</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Vịnh Hạ Long</h4></a>
                            <h5>$250<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img th:src="@{/user/image/Index/hawaii.jpg}" alt="">
                                <a href="#" class="btn theme_btn button_hover">Đặt ngay</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Hawaii</h4></a>
                            <h5>$200<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img th:src="@{/user/image/Index/fujiMountain.jpg}" alt="">
                                <a href="#" class="btn theme_btn button_hover">Đặt ngay</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Núi Phú Sĩ</h4></a>
                            <h5>$750<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img th:src="@{/user/image/Index/pyramid.jpg}" alt="">
                                <a href="#" class="btn theme_btn button_hover">Đặt ngay</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Kim Tự Tháp</h4></a>
                            <h5>$200<small>/night</small></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Accomodation Area  =================-->

        <!--================ SERVICE TAB  =================-->
        <section class="facilities_area section_gap">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
            </div>
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_w">Dịch vụ</h2>
                    <p>Chúng tôi cung cấp một số dịch vụ đi kèm trên chuyến bay</p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>Thức ăn nhanh</h4>
                            <p>Cung cấp một số thức ăn nhanh, đảm bảo ngon miệng cho khách hàng.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>Xe máy trung chuyển</h4>
                            <p>Loại hình xe trung chuyển dành cho khách hàng đi một mình.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>Áo giữ ấm</h4>
                            <p>Cung cấp áo ấm cho khách, giúp khách có một giấc ngủ ngon.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-car"></i>Xe hơi trung chuyển</h4>
                            <p>Loại hình xe trung chuyển dành cho các khách hàng đi theo hộ.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-construction"></i>Thêm hành lý</h4>
                            <p>Dịch vụ cho phép khách hàng đặt thêm số hành lý có thể mang theo.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facilities_item">
                            <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>Đồ uống</h4>
                            <p>Làm mát cơ thể với những đồ uống được ướp lạnh.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ SERVICE TAB  =================-->



        <!--================ start footer Area  =================-->
        <footer th:replace="user/fragments :: footer"></footer>
		<!--================ End footer Area  =================-->


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script th:src="@{/user/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/user/js/popper.js}"></script>
        <script th:src="@{/user/js/bootstrap.min.js}"></script>
        <script th:src="@{/user/vendors/owl-carousel/owl.carousel.min.js}"></script>
        <script th:src="@{/user/js/jquery.ajaxchimp.min.js}"></script>
<!--        <script th:src="@{/user/js/mail-script.js}"></script>-->
        <script th:src="@{/user/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js}"></script>
        <script th:src="@{/user/vendors/nice-select/js/jquery.nice-select.js}"></script>
        <script th:src="@{/user/js/mail-script.js}"></script>
        <script th:src="@{/user/js/stellar.js}"></script>
        <script th:src="@{/user/vendors/lightbox/simpleLightbox.min.js}"></script>
        <script th:src="@{/user/js/custom.js}"></script>

        <script>

            $(document).ready(function () {
                const tripType = $('#tripType');
                const returnDate = $('#returnDate');
                const calendarIcon = $('#datetimepicker1 .input-group-addon'); // Icon lịch

            tripType.on('change', function () {
                if ($(this).val() === "Một chiều") {
                    returnDate.prop('disabled', true).val(''); // Disable input và xóa giá trị
                    calendarIcon.hide();
                } else {
                    returnDate.prop('disabled', false); // Enable input
                    calendarIcon.show();
                }
            });
        });


        </script>

    </body>
</html>