<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="user/fragments :: meta_css"></head>
<body>

<!--================Header Area =================-->
<header th:replace="user/fragments :: header"></header>
<!--================Header Area =================-->
<img class="wave" th:src="@{user/image/login/wave.png}">
<div class="container-login">
    <div class="img-login">
        <img th:src="@{user/image/login/bg.svg}">
    </div>
    <div class="login-content">
        <form action="index.html" class="form-login">
            <img th:src="@{user/image/login/avatar.svg}">
            <h2 class="title">Welcome</h2>
            <div class="input-div one">
                <div class="i-login">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
<!--                    <h5>Tên đăng nhập</h5>-->
                    <input type="text" class="input" placeholder = "Tên đăng nhập" >
                </div>
            </div>
            <div class="input-div pass">
                <div class="i-login">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
<!--                    <h5>Mật khẩu</h5>-->
                    <input type="password" class="input" placeholder = "Mật khẩu" >
                </div>
            </div>
            <a href="#">Quên mật khẩu?</a>
            <input type="submit" class="btn-login" value="Đăng nhập">
            <div class="inline-container">
                <p>Bạn chưa có tài khoản?</p>
                <a href="register.html">Đăng ký</a>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/user/js/login.js}"></script>
</body>
</html>