<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="user/fragments :: meta_css"></head>
<body>

<!--================Header Area =================-->
<header th:replace="user/fragments :: header"></header>
<!--================Header Area =================-->
<img class="wave" th:src="@{user/image/login/wave.png}">
<div class="container-login">
    <div class="img-login">
        <img th:src="@{user/image/login/bg.svg}">
    </div>
    <div class="login-content">
        <form id="step1" class="form-step active">
            <img th:src="@{user/image/login/avatar.svg}">
            <h2 class="title">Thông tin cá nhân</h2>
            <div class="input-div one">
                <div class="i-login">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
<!--                    <h5>Họ và tên</h5>-->
                    <input type="text" class="input" placeholder = "Họ và tên" required>
                </div>
            </div>
            <div class="input-div">
                <div class="i-login">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="div">
<!--                    <h5>Số điện thoại</h5>-->
                    <input type="tel" class="input" placeholder = "Số điện thoại" required>
                </div>
            </div>
            <div class="input-div">
                <div class="i-login">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="div">
<!--                    <h5>Email</h5>-->
                    <input type="email" class="input" placeholder = "Email" required>
                </div>
            </div>
            <div class="input-div">
                <div class="i-login">
                    <i class="fas fa-id-card"></i>
                </div>
                <div class="div">
<!--                    <h5>Căn cước công dân</h5>-->
                    <input type="text" class="input" placeholder = "Căn cước công dân" required>
                </div>
            </div>
            <div class="input-div">
                <div class="i-login">
                    <i class="fas fa-credit-card"></i>
                </div>
                <div class="div">
<!--                    <h5>Số thẻ</h5>-->
                    <input type="text" class="input" placeholder = "Số thẻ" required>
                </div>
            </div>
            <a href="#" class="btn-next" onclick="nextStep()">Tiếp tục <span class="arrow">&rarr;</span></a>
            <div class="inline-container">
                <p>Bạn đã có tài khoản?</p>
                <a href="login.html">Đăng nhập</a>
            </div>


        </form>

        <!-- Form bước 2 -->
        <form id="step2" class="form-step">
            <img th:src="@{user/image/login/avatar.svg}">
            <h2 class="title">Tạo tài khoản</h2>
            <div class="input-div one">
                <div class="i-login">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
<!--                    <h5>Tên đăng nhập</h5>-->
                    <input type="text" class="input" placeholder="Tên đăng nhập" required>
                </div>
            </div>
            <div class="input-div">
                <div class="i-login">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
<!--                    <h5>Mật khẩu</h5>-->
                    <input type="password" class="input" placeholder = "Mật khẩu" required>
                </div>
            </div>
            <div class="input-div">
                <div class="i-login">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
<!--                    <h5>Nhập lại mật khẩu</h5>-->
                    <input type="password" class="input" placeholder = "Nhập lại mật khẩu" required>
                </div>
            </div>
            <a href="#" class="btn-next" onclick="prevStep()">Quay về <span class="arrow">&larr;</span></a>
            <button type="submit" class="btn">Đăng ký</button>
        </form>

    </div>
</div>
<script th:src="@{/user/js/login.js}"></script>
<script>
    // JavaScript điều khiển bước chuyển form
    function nextStep() {
        document.getElementById('step1').classList.remove('active'); // Ẩn form bước 1
        document.getElementById('step2').classList.add('active');   // Hiển thị form bước 2
    }

    function prevStep() {
    // Hiển thị form bước 1, ẩn form bước 2
        document.getElementById('step2').classList.remove('active');
        document.getElementById('step1').classList.add('active');
    }
</script>
</body>
</html>