#spring.application.name=sell-airline-ticket
server:
  port: 8080
  servlet:
    context-path: /flight-booking
spring:
  datasource:
    url: "jdbc:sqlserver://;serverName=localhost;databaseName=FLIGHTBOOKING;encrypt=true;trustServerCertificate=true"
    driver-class-name: "com.microsoft.sqlserver.jdbc.SQLServerDriver"
    username: sa
    password: 123456
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true