<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="user/fragments :: meta_css"></head>
<body>
<!--================Header Area =================-->
<header th:replace="user/fragments :: header"></header>
<!--================Header Area =================-->


<!--================Breadcrumb Area =================-->
<!--================ SERVICE TAB  =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">Dịch vụ hàng không <br>PTIT<br>Mission & Vision</h2>
                    <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                    <a href="#" class="button_hover theme_btn_two">Đặt ngay</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" th:src="@{'/user/image/Service/' +${service.image}}" alt="img">
            </div>
        </div>
    </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->
<!--================ start footer Area  =================-->
<footer th:replace="user/fragments :: footer"></footer>
<!--================ End footer Area  =================-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/user/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/user/js/popper.js}"></script>
<script th:src="@{/user/js/bootstrap.min.js}"></script>
<script th:src="@{/user/vendors/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/user/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/user/js/mail-script.js}"></script>
<script th:src="@{/user/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/user/vendors/nice-select/js/jquery.nice-select.js}"></script>
<script th:src="@{/user/js/stellar.js}"></script>
<script th:src="@{/user/vendors/lightbox/simpleLightbox.min.js}"></script>
<script th:src="@{/user/js/custom.js}"></script>
</body>
</html>